.debug *, .debug {
  outline: 1px solid gold;

  /* 在 body 加上 class=debug */
}

body {
  background: rgba(0,0,0,0.3);
}

.wrapper {
  max-width: 645px;
  background: white;
  margin: 10% auto 5% auto;
  box-shadow: 1.8px 2.4px 5px 0 var(--black-30);
  border-top: solid 6px #fad312 ;
  padding: 64px 32px;
}

.apply-form__title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.apply-form__desc {
  margin-top: 32px;
  font-size: 14px;
  line-height: 1.5em;
}

.apply-form__notice {
  color: #e74149;
  font-size: 16px;
  margin-top: 20px;
}

.input-block {
  margin-top: 55px;
}

.input-block__title {
  font-size: 20px;
}

.input-block__desc {
  font-size: 14px;
  margin-top: 8px;
}

.input-block__input {
  margin-top: 20px;
}

.input-block__input input {
  border: solid 1px #d0d0d0;
  font-size: 16px;
  padding: 8px;
}

.required::after {
  content: '*';
  color: #e74149;
}

.input-block__input label {
  display: block;
  margin-top: 12px;
}


.apply-form__submit{
  background: #fad312;
  color: black;
  font-size: 15px;
  padding: 12px 32px;
  margin-top: 48px;
  border: none;
  border-radius: 4px;
}



.apply-form__desc__bottom {
  margin-top: 32px;
  font-size: 14px;
}

footer {  
  background: black;
  color: #999999;
  font-size: 13px;
  text-align: center;
  padding: 24px 12px;
}


@media(max-width:768px) {
  .apply-form__title {
    color: red;
    

  }

}